.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #5bf5ee;
  align-items: center;
  justify-content: center;

  &__button {
    width: 100px;
    height: 40px;
    background-color: #06504d;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-top: 10px;

    &:hover {
      opacity: 0.5;
    }

    &:disabled {
      background-color: gray;
      cursor: no-drop;
      opacity: 1;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 10;

  &__title {
    margin: 0px;
    margin-right: 20px;
  }

  &__timer {
    font-size: 20px;
  }
}

.cards-list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, 80px);
  justify-content: center;
  align-items: center;
  background-color: #5bf5ee;
  width: calc(480px + 25px);
  // height: 500px;
  border-radius: 20px;
  perspective: 600px;

  @media screen and (max-width: 500px) {
    width: 90%;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-gap: 10px;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 500px) {
    width: 70px;
    height: 70px;
  }

  &__face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;

    &_front {
      width: 100%;
      height: 100%;
      background-color: #47a8a4;
      border-radius: 20px;
    }

    &_back {
      transform: rotateY(180deg);
      box-shadow: none;
    }
  }

  &.is-flipped {
    transform: rotateY(180deg);
    box-shadow: none;
  }
}
